td{
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color:#644BBF;
}

td:hover{
	border-style: solid;
	background:#E36206;
}

.selected{
	border-style: solid;
	background:#E36206;
}

tr{
	width: 12.5%;
	height: 12.5%;
}

img {
	width: 100%;
	height: auto;
}
.board{
	height: 70%;
	width: 70%;
}

.space{
	margin-left: 0%;
	width:700px;
	height:700px;
	position: absolute; 
	/* background-color: #00FF00; */
	left: 30%;
}

.test0{
	background-color: #222222;
}

.turn{
	color: #A64E2E; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1;
	margin-bottom: 0.75%;
	margin-left: 33%;
}
.player{
	color: #A64E2E; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1;
	margin-bottom: 0.75%;
	margin-left: 33%;
}
.check{
	color: #A64E2E; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 1;
	margin-bottom: 0.75%;
    margin-left: 33%;
}

.promotion{
    float: right;
    width: 21.25%;
    color: #644BBF;
	text-align: center;
	border-color: #644BBF; 
	margin-top: 25%;
}

.promotionOption{
	cursor: pointer;
	color: black;
    font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1;
}

.promotionOption:hover{
	cursor: pointer;
	color: #E36206;
    font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1;
}
html{
    background-color: #3A3659;
}
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    background-color: #2C2C2C;
    box-shadow: 0 0 10px 2px black;
    color: #644BBF;
}
header {

}
header > img {

}
#Links{
    text-decoration: underline;
}
#title-subtitle {
	float: left;
}
#title-subtitle > h2 {
    font-size: 2.5em;
    margin-left: 200px;
    color: black;
    text-align: center;
}
#title-subtitle > h3 {
    font-size: 1em;
    margin-left: 200px;
    color: black;
    text-align: center;
}
main, footer {
    padding: 1.875%;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.25em;
}
h1::first-letter {
    font-size: 150%;
}
a:focus, a:hover {
    text-decoration: none;
}
footer p {
    text-align: center;
    color: #A64E2E;
}
.websiteName {
    float: left;
    width: 21.25%;
    padding: 0 1.875%;
    color: #644BBF;

}
.websiteName > h2{
    margin-top: 150%;
    height: 100%;
    width: 75%;
    font-size: 85px;
    padding-top: 5px;
    transform: rotate(270deg);
    color:#644BBF;
}
#right_aside{
    float: right;
    width: 21.25%;
    padding: 0 1.875%;
}
#right_aside > h2{
    margin-top: 150%;
    height: 100%;
    width: 75%;
}
#IGN{
    font-style: italic;
}
header {

}
main {
    float: right;
    width: 71.25%;
    padding: 0 1.875%;
}
footer {
    clear: both;
}

main a{
    text-decoration:none;
}
main p{
    margin-right:33%;
}
#menu{
    float: right;
}
#menu ul{
    list-style-type:none;
    padding-left:0;
}
#menu ul li{
    margin:5px;
}
#menu ul li input{
    padding:.5em;
    width:150px;
    background-color:#644BBF;
    color:black;
    text-decoration:none;
    border-radius:5px;
    border-color:#644BBF;
}
@media only screen and (max-width: 959px) {
    #hamburger-button {
        display: block;
    }
    #top-menu {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    main, aside {
        float: none;
        width: 96.25%;
    }
}
@media only screen and (max-width: 497px) {
    body {
        width: 100%;
    }
    header > img, #title-subtitle {
        float: none;
    }
    header > img {
        width: 90px;
        margin: 10px auto;
        display: block;
    }
}