td{
	width: 60px;
	height: 60px;
	border-style: solid;
}

td:hover{
	width: 60px;
	height: 60px;
	border-style: solid;
	background:red;
}

tr{
	width: 60px;
	height: 60px;
}

img {
	width: 100%;
	height: 100%;
}

.space{
	width:700px;
	height:700px;
	position: fixed;
	/* background-color: #00FF00; */
	top: 100px;
	left: 30%;
}

.test0{
	background-color: #222222;
}